*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.plg



/SOFT/UKU/2/*.i
/SOFT/UKU/2/*._ip
/SOFT/UKU/2/EXE/*.sct
*.sct
/SOFT/UKU/4
/SOFT/UKU/2.rar
/SOFT/UKU/Олег_сент
