	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background: #4e4e4e;
		height: 100%;
		font-size : 14px;
		font-family: "Segoe UI";
	}
	#wrap {
		width:1250px;
		margin:0 auto;
		//background:#99c;
		background:#17F0E8
		min-height: 100%;
   		margin-bottom: -60px;
   		padding:0px 0px;
	}
	#dev_header {
		padding:5px 10px;
		//background:#ddd;
		//background: linear-gradient(to left, #CCEEFF, #17F0E8);
		background: #7b7b7b;
    	color: #fff;
		height: auto;
		min-height: 50px;
		overflow: hidden;
    }

    #batTable {
		font-size : 14px;
		font-family: "Segoe UI";
	}

    #dev_name {
    	//text-decoration: underline;
	}
    #nav {
    	padding:10px 5px;
		background:#f00;
		height: auto;
		min-height: 30px;		
    } 
           #nav1 {
    	padding:10px 5px;
		background:#f00;
		height: auto;
		min-height: 30px;		
    }
    #dev_header #dev_name {
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	font-weight: bold;
    	text-align: center;
    	font-size: 20px;
    }
    #dev_header #dev_serial {
    	float:left;
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	//font-weight: bold;
    	//text-align: center;
    	//font-size: 20px;
    }
    #dev_header #dev_place {
    	float:right;
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	//font-weight: bold;
    	//text-align: center;
    	//font-size: 20px;
    	font-size : 14px;
		font-family: "Segoe UI";
    }    
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
    }
    #nav li {
		display:inline;
		margin:0;
		padding:0;
    }


    h1 {
		margin:0;
    }

    #main {
		float:right;
		width:980px;
		padding:10px;
		//background:#9c9;
		//background:#CCEEFF;
		background: #fff;
		//height: 700px;
		height: calc(100vh - 140px);
		//height: auto;
		//max-height: 100%;
		overflow-y:auto;
		font-size : 14px;
		font-family: "Segoe UI";
    }
    h2 {
		margin:0 0 1em;
    }

    button {
		float:right;
	}    
    #sidebar {
		float:left;
		width:230px;
		padding:10px;
		//background:#17F0E8;
		background: #adabac;
		height: calc(100vh - 140px);
		overflow-y:auto;
    }
    #footer {
    	width:1250px;
    	margin:0 auto;
		clear:both;
		padding:5px 0px;
		//background:#cc9;
		//background: linear-gradient(to left, #CCEEFF, #17F0E8);
		background: #adabac;
		height: 30px;
		//display: flex;
		text-align: left;
		//justify-content: center;
		//display: table-cell;
		vertical-align: middle;
    }
    #footer p {
		margin:0;
		
    }

    .centerAligned {
    	text-align: center;
    }

    .spa_adress {
    	display: inline-block;
    	margin: auto 30px;
    	font-weight: bold;
    	
    }
    
	* html #footer {
		height:1px;
    }
    .alert {
		padding: 15px;
		border: 1px solid #d6e9c6;
		border-radius: 4px;
		color: #000;
    	background-color: #abadac;
	}
	#span_pasw{
		margin: 0 auto;
	}
	#passWord{
		margin: 0 30px;
	}
	#pswBut{
		margin: 0 10px;
	}
	#span_denied{
		margin: 10 auto;
		font-size: 20px;
		color: red;
		text-align: center;

	}

	.textInput {
    width: 350px; /* Ширина поля в пикселах */
   	} 
	.digitInput {
    width: 80px; /* Ширина поля в пикселах */
   	} 
   	.headering {
  	font-size: 10pt; 
  	text-align: center; 
  	text-decoration-style: solid;
	}