	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#a7a09a;
		height: 100%;
	}
	#wrap {
		width:1250px;
		margin:0 auto;
		background:#99c;
		min-height: 100%;
   		margin-bottom: -35px;
   		padding:0px 0px;
	}
	#dev_header {
		padding:5px 10px;
		background:#ddd;
		height: auto;
		min-height: 50px;
		overflow: hidden;
    }
    #dev_header #dev_name {
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	font-weight: bold;
    	text-align: center;
    	font-size: 20px;
    }
    #dev_header #dev_serial {
    	float:left;
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	//font-weight: bold;
    	//text-align: center;
    	//font-size: 20px;
    }
    #dev_header #dev_place {
    	float:right;
    	width: max-content;
    	//display: inline-block;
    	margin: 0 auto;
    	//font-weight: bold;
    	//text-align: center;
    	//font-size: 20px;
    }    
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
    }
    #nav li {
		display:inline;
		margin:0;
		padding:0;
    }


    h1 {
		margin:0;
    }
    #nav {
    	padding:5px 10px;
		background:#c99;
    }
    #main {
		float:left;
		width:980px;
		padding:10px;
		background:#9c9;
		//height: 700px;
		height: calc(100vh - 140px);
		//height: auto;
		//max-height: 100%;
		overflow-y:auto;
    }
    h2 {
		margin:0 0 1em;
    }
    #sidebar {
		float:right;
		width:230px;
		padding:10px;
		background:#99c;
		height: calc(100vh - 140px);
		overflow-y:auto;
    }
    #footer {
    	width:1250px;
    	margin:0 auto;
		clear:both;
		padding:5px 0px;
		background:#cc9;
		height: 25px;
		//display: flex;
		text-align: center;
		//justify-content: center;
		//display: table-cell;
		vertical-align: middle;
    }
    #footer p {
		margin:0;
		
    }

    .spa_adress {
    	display: inline-block;
    	margin: 0 auto;
    	font-weight: bold;
    	
    }
    
	* html #footer {
		height:1px;
    }
    .alert {
		padding: 15px;
		border: 1px solid #d6e9c6;
		border-radius: 4px;
		color: #3c763d;
		background-color: #dff0d8;
	}
	#span_pasw{
		margin: 0 auto;
	}
	#passWord{
		margin: 0 30px;
	}
	#pswBut{
		margin: 0 10px;
	}
	#span_denied{
		margin: 10 auto;
		font-size: 20px;
		color: red;
		text-align: center;

	}	